REDIS_PORT=6379
#REDIS_PASSWORD=secret_password
REDIS_IMAGE=redis:8.2.5-bookworm

POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret_password
POSTGRES_DB=fund_nav_mcp_prod
POSTGRES_TZ=Asia/Shanghai
POSTGRES_IMAGE=postgres:18.3-bookworm