TZ=Asia/Shanghai

CACHE_REDIS_DEFAULT_PORT=6379
#CACHE_REDIS_DEFAULT_PASSWORD=secret_password
CACHE_REDIS_DEFAULT_TAG=8.2.5-bookworm

DB_PG_DEFAULT_PORT=5432
DB_PG_DEFAULT_USER=postgres
DB_PG_DEFAULT_PASSWORD=secret_password
DB_PG_DEFAULT_DB=fund_nav_mcp
DB_PG_DEFAULT_TAG=18.3-bookworm

#DB_MYSQL_DEFAULT_PORT=3306
#DB_MYSQL_DEFAULT_USER=prod
#DB_MYSQL_DEFAULT_PASSWORD=prod
#DB_MYSQL_DEFAULT_ROOT_PASSWORD=secret_password
#DB_MYSQL_DEFAULT_DB=fund_nav_mcp
#DB_MYSQL_DEFAULT_TAG=8.0

#DB_INFLUXDB_DEFAULT_PORT=8086
#DB_INFLUXDB_DEFAULT_USERNAME=admin
#DB_INFLUXDB_DEFAULT_PASSWORD=secret_password
##DB_INFLUXDB_DEFAULT_ADMIN_TOKEN=secret_token0==
#DB_INFLUXDB_DEFAULT_ORG=fund_nav_mcp
#DB_INFLUXDB_DEFAULT_BUCKET=fund_data
#DB_INFLUXDB_DEFAULT_TAG=2.7